<%= form_with(model: user_activity, local: true, class: "mt-4") do |form| %>
  <% if user_activity.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(user_activity.errors.count, "error") %> impidieron guardar el registro:</h4>
      <ul>
        <% user_activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :user_id, "Usuario", class: "form-label" %>
    <%= form.number_field :user_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :activity_id, "Actividad", class: "form-label" %>
    <%= form.number_field :activity_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, "Duración (minutos)", class: "form-label" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date, "Fecha", class: "form-label" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <%= form.submit "Guardar", class: "btn btn-primary" %>
<% end %>
