<div id="<%= dom_id user_activity %>">
  <p>
    <strong>Usuario:</strong>
    <%= user_activity.user.name %> (<%= user_activity.user.email %>)
  </p>

  <p>
    <strong>Actividad:</strong>
    <%= user_activity.activity.name %>
  </p>

  <p>
    <strong>Duración:</strong>
    <%= user_activity.duration %> minutos
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= l(user_activity.date, format: :long) %>
  </p>
</div>
