<h1>Mis actividades registradas</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Actividad</th>
      <th>Duración (min)</th>
      <th>Fecha</th>
      <th>Calorías quemadas</th>
      <th>Notas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @user_activities.each do |ua| %>
      <tr>
        <td><%= ua.activity.name %></td>
        <td><%= ua.duration %></td>
        <td><%= ua.date.strftime("%d/%m/%Y") %></td>
        <td><%= ua.calories_burned %></td>
        <td><%= ua.notes %></td>
        <td>
          <%= link_to "Ver", user_activity_path(ua), class: "btn btn-sm btn-info me-1" %>
          <%= link_to "Editar", edit_user_activity_path(ua), class: "btn btn-sm btn-warning me-1" %>
          <%= link_to "Eliminar", user_activity_path(ua), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Registrar nueva actividad", new_user_activity_path, class: "btn btn-primary mt-3" %>
