<%= form_with(model: plan, local: true, html: { class: "needs-validation", novalidate: true }) do |form| %>
  <% if plan.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h4>
      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control", required: true, pattern: '\d+(\.\d{1,2})?', title: "Solo números, opcional decimales" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, class: "form-label" %>
    <%= form.number_field :duration, class: "form-control", required: true, min: 1 %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div>
    <%= form.submit "Save Plan", class: "btn btn-primary" %>
  </div>
<% end %>
